.countdownContainer {
    width: 25%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
    background-color: rgb(245, 245, 245, 0.8);
    border-radius: 10px;
    box-shadow: 19px 19px 48px 1px rgba(115,115,115,0.75);
    color: rgb(33, 33, 58);
    font-size: 2em;
    text-align: center;
}

.btnContainer {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}