button {
    background-color: #10192e;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #2ebf91;
    box-shadow: 19px 19px 48px 1px rgba(115,115,115,0.75);
    transform: scale(0.9);
}