button {
    background-color: #10192e;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
}
